<header></header>

Welcome to COOL NAME BLOG

<% @posts.each do |post| %>
<div>
  <h2><%= post.name %></h2>
  <p><%= post.author %></p>
  <p><%= post.content %></p>
  <a href="/posts/<%= post.id %>">View Full Post</a>
  </div>
 <% end %>

 <a href="/posts/new">Add a new post</a>
 <a href="/tags">See what other people are tagging! </a>