<head>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<header>
  <h1>Cool Blog</h1>
</header>



<% @posts.each do |post| %>
<div id="postIndex">
  <h2><%= post.name %></h2>
  <p><%= post.author %></p>
  <p><%= post.content %></p>
  <a href="/posts/<%= post.id %>">View Full Post</a>
  </div>
 <% end %>


<div class="links">
 <a href="/posts/new">Add a new post</a><br>
 <a href="/tags">See what other people are tagging! </a>
</div>

